In [ ]:
type("This is a string")

In [ ]:
type(None)

In [ ]:
type(1)

In [ ]:
type(1.0)

- a tuple is a sequence of variables which itself is immutable
- that means that a tuple has elements in an ordering, but cannot be changed once created
- declare using the parenthese `()`
- can mix types for the contents

In [ ]:
t = (1, 'a', 2, 'b')
type(t)

- a list similar tuple, but it is mutable
- that means that a list can change their length, number of element, and the element values
- declare using the square brackets `[]`
- `append` function allows add new items to the end of list
- start `0`
- end `length - 1`

In [ ]:
l = [1, 'a', 2, 'b']
type(l)

In [ ]:
l.append(3.3)
l

In [ ]:
for item in l:
    print(item)

In [ ]:
# concatenates lists using + (plus)
[1, 2] + [3, 4]

In [ ]:
# repeats the value of a list using * (asterisks)
[1] * 3

In [ ]:
# check member of a list, return boolean
1 in [1, 2, 3]

In [ ]:
x = "This is a string"

In [ ]:
# get the first element
print(x[0])
print(x[0:1])

In [ ]:
# get the last element
print(x[-1])
print(x[-1:])

In [ ]:
# get first two element
print(x[:2])
print(x[0:2])

In [ ]:
print(x[3:]) # get element from 3nd to end

In [ ]:
print(x[-4:]) # get last four element

In [ ]:
print(x[:-2]) # get all element except last two element

In [ ]:
print(x[-4:-2]) # get first two element in four last element

In [ ]:
first_name = "Christopher"
last_name = "Brooks"

print(first_name + '_' + last_name)
print("Chris" in first_name)

In [ ]:
full_name = "Christopher Arthur Hansen Brooks".split() # return a list of words, separating by ' '  
first_name = full_name[0]
last_name = full_name[-1]
print(first_name)
print(last_name)

- a set similar lists and tuples hold collection of items, but it labeled collection which do not have ordering
- add new elements to the dictionary using indexing operator

In [ ]:
d = {"Christopher Brooks": "brooksch@umich.edu", "Bill Gates": "billg@microsoft.com"}

In [ ]:
# add new element
d["Kevyn Collins-Thompson"] = None

In [ ]:
print(d)

In [ ]:
for name in d:
    print(name)

# or
for name in d.keys():
    print(name)

In [ ]:
for key in d.values():
    print(key)

In [ ]:
for name, email in d.items():
    print(name, ':', email)